@import 'tailwindcss';


@theme {
    --color-silver: #BBBAB9;
    --color-pigmentGreen: #23a356;
    --color-antiFlashWhite: #E8ECED;
    --color-cadetGray: #a1a1a4;
    --color-celadon: #B5DCB0;
    --color-lightGold: #F2EF91;
    --color-blackO: rgba(0, 0, 0, 0.7);
    --spacing-900: 900px;
    --spacing-800: 800px;
    --spacing-90%: 90%;
    --spacing-80%: 80%;
    --spacing-95%: 95%;
    --spacing-100%: 100%;
    --text-xxs: 0.70rem;
    --color-white-o: rgba(255, 255, 255, 0.5);
}


.input{
    @apply focus:outline-none focus:border-gray-500 m-0 block font-normal leading-7 text-gray-800 border appearance-none  rounded transition ease-in-out duration-150 bg-clip-padding bg-white border-silver;
}


.btn{
    @apply  uppercase  cursor-pointer tracking-wider  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
}

.sbtn{
    @apply  cursor-pointer tracking-wider font-semibold text-white rounded-md text-sm px-3 py-1 text-center me-2 mb-2;
}